* {
    box-sizing: border-box;
 
}

html {
    font-size: 10px; /* definir uma font-size padrão */
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}
p {
    color: #674582;
    font-size: 16px;

}
h1 {
    font-size: 48px;
}
h3 {
    font-size: 32px;
    color: #674582;
}
main {
    width: 100%;
    
}

/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
    width: 100%;
}

/* define o tamanho da caixa */
.container {
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
   
}
/* --- NAV --- */
.navegacao {
    background-color: #674582;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 87px;
}

.navegacao__logo {
    max-width: 200px;
}

.navegacao__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao__itens {
    position: absolute;
    right: -700px;
    top: 85px;
    width: 100%;
    background-color: #674582;
    text-align: center;
    padding: 3rem 0;
    transition: right 1s;
}

.navegacao__itens.ativo {
    display: block;
    right: 0;
    top: 85px;
    width: 100%;
    background-color: #674582;
    text-align: center;
    padding: 3rem 0;
    transition: right 1s;
}

.navegacao__itens li > a {
    transition: all .2s;
}

.navegacao__itens li > a:hover {
    color: #C083B9;
}

.navegacao__menu-hamburguer img {
    background-color: #C083B9;
    border-radius: 5px;
}

.navegacao__nav {
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.navegacao__nav li {
    font-size: 1.5rem;
    margin: 1rem;
}

.navegacao__redes-sociais a {
    margin: 0 1rem;
}

/* --- HEADER --- */
.header {
    min-height: 80vh;
    height: 300px;
    background: url(../img/bg-banner-claro.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 11rem 2rem 5rem 2rem;
    color: white;
    
}

.principal__titulo {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
}
/* --- SECTION CONTEÚDO ---*/


.conteudo .container {
    min-height: 80vh;
    height: 500px;
    background-color: white;
    display:flex;
    align-content: center;
    
}



.nina-silva__titulo {
    color: #674582;
    text-align: center;

}


.nina-silva__quote {
    border: #674582 1px solid;
    border-radius: 2px;
    margin: 20px auto;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    width: 63vw;
    text-align: center;
}


.nina-silva__perfil {
    margin: 0 20px;
    max-width: 95%;

    
    
}

.nina-silva__perfil h3 {
    text-align: center;

}
.nina-silva__perfil p {
   font-size: 16px;
}

.nina-silva__perfil img {
    background-color: #63458a;
    border-radius: 10px;
    display: flex;
}

.nina-silva__historia {
    padding: 20px;
}
.autora-container {
    width: 100%;
    height: 250px;
    
    
}
.caixa-lilas {
    background-color: #C083B9; 
    width: 100%;
    height: 162px;
    display: flex;
    justify-content: center;
    

}

.bio {
 

   

}

.caixa-lilas img {
    width: auto;
    height: 100%;
}

.botao {
    width: auto;
    height: 88px;
    text-align: center;
  
}

.btn {
    color: white;
    background-color: #63458a;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;

}
.bio {
    display: block;
    font-size: 16px;
    padding: 32px;
    font-weight: 600;
}
.btnResponsivo {
    width: auto;
    height: 158px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nina-silva__historia {
    max-width: 90% auto;
}
/* --- FOOTER --- */
.rodape {
    background-color: #323534;
    color: white;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .8rem;
}

.rodape__principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0;
}

.rodape__principal > * {
    margin: 1rem 0;
}

.rodape__navegacao > li {
    font-size: 1.1rem;
    margin: 1rem;
}

.rodape__navegacao a {
    transition: all .5s;
}

.rodape__navegacao a:hover {
    color: #C083B9;
}

.rodape__logo {
    max-width: 200px;
}

.rodape__redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.rodape__redes-sociais a:hover {
    color: #C083B9;
}

.rodape__redes-sociais img {
    max-width: 10px;
    margin-right: .5rem;
}

.rodape__redes-sociais span {
    display: flex;
    font-size: 1.5rem;
}

.rodape__cc {
    width: 100%;
    background-color: #292A2A;
    font-size: 1rem;
    opacity: 0.5;
    text-align: center;
}

/*** MEDIA QUERIES ***/
@media (min-width: 768px) {
    /* --- NAV --- */
    .navegacao__itens {
        position: static;
        display: flex;
        padding: 0;
        width: auto;
    }
    .navegacao__redes-sociais {
        display: flex;
        align-items: center;
    }
    .navegacao__redes-sociais img {
        max-height: 25px;
    }

    .navegacao__nav {
        margin-bottom: 0;
    }
    
    .navegacao__itens ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .navegacao__itens li {
        font-size: 1.2rem;
        margin: 0 .6rem;
    }
    
    .navegacao__menu-hamburguer {
        display: none;
    }

    /* --- HEADER --- */
    .header {
        min-height: 85vh;
        text-align: left;
        padding: 5rem 10rem;
        background-position: inherit;
    }

    .principal__titulo {
        font-size: 4.9rem;
    }
    
    .principal__sub {
        font-size: 1.8rem;
    }

    .principal__btn {
        margin: 0;
    }
    /* --- CONTEUDO ---*/
    .nina-silva__perfil {
        display: flex;
        justify-content: space-between;
        margin: 0 55px;
    }
    .nina-silva__perfil img {
        width: 28%;
        height: 28%;
    }

    .perfil_resumo {
        width: 80%;
        margin-left: 40px;

    }
    .nina-silva__quote {
        border: #674582 1px solid;
        border-radius: 2px;
        margin: 20px auto;
        padding: 10px 10px 10px 10px;
        font-size: 16px;
        width: 86vw;
        text-align: center;
}
    .nina-silva__historia {
        padding: 50px;
    }
    /* --- FOOTER --- */
    .rodape {
        padding-top: 0;
    }

    .rodape__principal {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .rodape__logo img {
        max-width: 250px;
    }

    .rodape__navegacao > li {
        font-size: 1.5rem;
    }
    
}


@media (max-width: 1440px) {
    .navegacao__box {
        max-width: 80%;
    }
    .header {
        min-height: 90vh;
    }
    .navegacao__itens li {
        font-size: 1.2rem;
        margin: 0 1rem;
    }
    .principal {
        max-width: 650px;
    }

    /* ---- CONTEÚDO ---*/
    .nina-silva__quote {
        height: 125px;
        width: 86%;
    }
    
    
    
}
@media (max-width: 320px) {

    .rodape__principal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 1.5rem 0;
    }
    .nina-silva__quote p {
        font-size: 13px;
    }
    .bio {
        font-size: 10px;
    }
}